header {
    padding-top: 6rem;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.me {
    width: 30rem;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

.me > img {
    border-radius: 50%;
}

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* =============== Large Devices =============== */

@media screen and (max-width: 1300px) {
    header {
        height: 100vh;
    }

    .me {
        width: 22rem;
    }

    .me > img {
        height: 20rem;
    }
}

/* =============== Medium Devices =============== */

@media screen and (max-width: 1024px) {
    header {
        height: 100vh;
    }

    .me {
        width: 50%;
    }

    .me > img {
        height: 20rem;
    }
}

/* =============== Small Devices =============== */

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header__socials, .scroll__down {
        display: none;
    }

    .me {
        margin-left: auto;
        margin-right: auto;
        width: 20rem;
    }

    .me > img {
        height: 20rem;
    }
}